/* Font Imports */
  @font-face {
    font-family: 'CMU Serif';
    font-style: italic;
    font-weight: normal;
    src: local('CMU Serif Italic'), url('./fonts/cmunti.woff') format('woff');
  }
  @font-face {
    font-family: 'CMU Serif';
    font-style: normal;
    font-weight: bold;
    src: local('CMU Serif Bold'), url('./fonts/cmunbx.woff') format('woff');
  }
  @font-face {
    font-family: 'CMU Serif';
    font-style: italic;
    font-weight: bold;
    src: local('CMU Serif BoldItalic'), url('./fonts/cmunbi.woff') format('woff');
  }
  @font-face {
    font-family: 'CMU Serif';
    font-style: normal;
    font-weight: normal;
    src: local('CMU Serif Roman'), url('./fonts/cmunrm.woff') format('woff');
    }
  @font-face {
    font-family: "Fira Code";
    src: url("./fonts/FiraCode-VF.woff2");
  }
  @font-face {
    font-family: "CMU Typewriter";
    src: url("./fonts/cmunvt.ttf");
  }
/* Globals */
  html {font-family: 'CMU Serif';}
  main { padding: 2em; padding-bottom: 20em;}
/* Headings */
  h1 {text-align: center;}
  h2,h3,h4,h5,h6 {margin-bottom: 0; padding: 0;}
  h2+p, h3+p, h4+p, h5+p, h6+p {margin-top:0}
/* Lists */
  div.outline {
    font-size: 0.9em;
  }
  div.outline ol li {list-style: upper-roman;}
  div.outline ol li li {list-style: decimal;}
/* Katex */
  .katex {font-size: 1em;}
/* Hago Styles */
  .hago div {
    margin: 0 auto;
  }
  .hago_PlotPath path {
    stroke-width: 2;
    stroke: tomato;
  }
/* Table */
  table { margin: 0 auto; }
  table td {padding: 0.1em 1em;}
/* Code Styles */
  code {font-family: 'Fira Code'; font-size: 0.85em}
  pre {
    padding: 0.5em 1em;
    border-radius: 0.5em;
    width: fit-content;
    margin: 0 auto;
    font-family: 'Fira Code';
    font-size: 0.9em;
    color: rgb(128, 190, 190);
    tab-size: 2;
  }
  .grid_map_container pre {
    margin: 0;
  }
  pre .token.tag { color: rgb(211, 121, 121); }
  pre .token.operator { color: rgb(126, 179, 179); }
  pre .token.punctuation {color: rgb(151, 155, 155);}
  pre .token.class-name {color: rgb(84, 175, 175);}
  pre .token.attr-name {color: rgb(116, 149, 204);}
  pre .token.method.property-access {color:rgb(130, 174, 110);}
  pre .token.function, pre .token.arrow {color: rgb(204, 125, 106);}
  
